#root {
    height: 100%;
}
#logo {
    width: 200px;
    color: #fff;
    margin-bottom: 0;
    text-align: center;
}
.pageWarp {
    height: 100%;
    display: flex;
    flex-direction: column;
}
#header {
    display: flex;
    align-items: center;
}

#header .divider {
    background-color: #ccc;
    height: 50px;
    margin: 0 100px 0 50px;
}

#nav {
    /* background-color: transparent;
    color: white; */
    background: none;
    border: none;
}

#nav a {
    color: #fff;
}

#nav .ant-menu-item-selected a {
    color: skyblue;
}


.main {
    flex: 1;
    padding: 20px 100px 20px 100px;   
    background-color: #e1e1e1;
 
}

.main .warp {
    height: 100%;
    border: #ccc 1px solid;
    display: flex;
    /* border-top: none; */
}

#home_nav {
    height: 100%;
    width: 200px;
    background-color: #f0f2f5;
    text-align: center;
    border: #ccc 1px solid;
    border-top: none;
    border-left: none;
    border-bottom: none;
}

#home_nav .ant-menu-item-selected {
    width: 200px;
    background-color: skyblue !important;
    border-right: 3px solid rgb(8, 174, 240);
}

#home_nav li:hover {
    background-color: rgb(194, 229, 243);
}

#home_nav li:first-child {
    margin-top: 0;
}

#list {
    flex: 1;
}



.ant-list-item-meta {
    display: flex;
    padding-left: 30px;
    position: relative;
    align-items: center;
}

.ant-list-item-meta-description {
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    right: 0;
    bottom: 0;
}

/* .list-description {
}


.list-description-date {
}

.list-description-replyandvisit {
    
} */

.details-header-description {
    margin-top: 10px;
}

.list-description-replyandvisit {
    margin-right: 30px;
}

.list-description-lastreply {
    margin-right: 10px;
}

.user-avatar {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
}

.username {
    text-align: center;
    color: #778087;
}

.user-description {
    display: flex;
    font-size: 10px;
    color: #778087;
    flex-direction: column;
    justify-content: space-around;
}

.user-description-icon {
    font-size: 18px;
    margin: 0 8px 0 0; 
}

.user-description-item {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.ant-pagination-item-link {
    background-color: #f0f2f5 !important;
}
.ant-pagination-prev {
    background-color: #f0f2f5 !important;
}
.ant-pagination-item {
    background-color: #f0f2f5 !important;
}

.ant-pagination-next {
    background-color: #f0f2f5 !important;
}

.ant-pagination-options {
    display: none !important;
}

.markdown-text img {
    width: 100%;
}



